.env
config.env

__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

target/
dbt_packages/
logs/
python/utils/
dags/*.ipynb
python/ods/*.ipynb
python/stg/*.ipynb

data/
*.csv
*.csv.gz
*.parquet
*.xlsx
*.docx

.DS_Store
git_config.env
