# S3 / Object Storage
S3_ENDPOINT_URL=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_SOURCE_BUCKET=
S3_AIRFLOW_BUCKET=
S3_TEAM_PREFIX=Team_Trofimov_Samundzhyan_Serenko_Paschenko

# Postgres
PG_HOST=
PG_PORT=
PG_DATABASE=
PG_USER=
PG_PASSWORD=

# Airflow
AIRFLOW_URL=
AIRFLOW_USER=
AIRFLOW_PASSWORD=

# GitHub
GIT_REPO_URL=https://github.com/d-pascenco/dwh_sql_project_team_Tro_Sam_Ser_Pas.git
GIT_BRANCH=main
GITHUB_USERNAME=
GITHUB_TOKEN=
