# S3 / Object Storage
S3_ENDPOINT_URL=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_SOURCE_BUCKET=
S3_AIRFLOW_BUCKET=
S3_TEAM_PREFIX=Team_name

# Postgres
PG_HOST=
PG_PORT=
PG_DATABASE=dwh_training
PG_USER=
PG_PASSWORD=

# Airflow
AIRFLOW_URL=
AIRFLOW_USER=
AIRFLOW_PASSWORD=
